<!DOCTYPE html>
<html>
<head>
    <title>Screenshots</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
        }
        .preview {
            display: inline-block;
            width: 100%;
            vertical-align: top;
            text-align: center;
        }
        .preview-image {
            max-width: 80%;
            max-height: calc(100vh - 70px);
        }
        .old-timestamp {
            background-color: darkorange;
        }
    </style>
</head>
<body>
    <div class="preview" tag-ip="{{ ip }}">
        <p>{{ ip }} - last update <span class="last-updated" tag-timestamp="{{ ts }}">0</span></p>
        <img class="preview-image" src="./images/{{ ip }}/latest?0"/>
    </div>

    <script type="module">
        import { main } from './static/main.js';
        main(15000);
    </script>
</body>
</html>
